
header, header * {
    margin: 0;
    padding: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%; 
    color: #000000;
}

h1{
    padding-bottom: 10px;
    width:100%;
    font-size: 2.25em; /* 36px / 16px = 2.25em or 225%  */
    font-weight: normal;
    color: white;
}

h2{
    padding-bottom: 10px;
    font-size: 2.125em;
    font-weight: normal;
}

h3{
    padding-bottom: 10px;
    font-size: 2em; 
    font-weight: normal;
}

p{
    padding-bottom: 10px;
    line-height: 1.2;
    padding-left: 10px;
}



img{
    max-width: 300px;
    height: 300px;
}

.container{
    background-color: #ffffff;
    width:100%-100px;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    margin-left:100px;
    margin-top: 100px;
}
.container-type{
    width:600px;
   background-color: #ffffff;
    margin-left:100px;
    

}

    

 .my-box {
    width: 600px;  
    height: 600px;         
    padding: 50px;          
    border: 5px solid rgb(0, 0, 0); 
    margin: 0 auto;           /* Space outside the border */
    background-color: rgb(213, 47, 47);
    float:left ;  

header{
    /* background-color: palevioletred; */
    flex: 1 0 100%;
    height: 200px;
}

}
nav a:hover, nav a:active{
    background-color: #333;
}



aside{
    background-color: palegoldenrod;
    flex: 1 1 30%; /* 400px - target / context (1200) = result */
    padding: 5px 10px;
}

footer{
    background-color: rgb(255, 255, 255);
    flex: 1 0 100%;
    padding: 10px;
    
    colour:rgb(12, 12, 12);
}


/* media queries for tablet screens 800px or smaller */
@media screen and (max-width: 800px){

    body{
        background-color: #333;
    }

    header{
        
        height: 100px;
        background-image: url(../images/header-tablet.png);
    }

    nav a:link, nav a:visited{
    
        padding: 10px 20px;
        margin-right: 20px;
    
}

main{

    flex: 1 1 60%; 
}

aside{
    flex: 1 1 40%; 

}

} 

/* media queries for mobile screens 600px or smaller */
@media screen and (max-width: 600px){

    body{
        background-color: yellow;
    }

    header{
        
        height: 50px;
        background-image: url(../images/header-mobile.png);
        
    }


}


.footer{
    text-align: center;
    align-items: left;
    align-items: left;
    bottom:0;
}

}

}
.dropdown{
    display:inline-block;
    padding:20px;

}

.dropdown button{
    background-color:rgb(88, 88, 88);
    color:rgb(255,255,255);
    Padding:20px 25px;
    Border:none;
    cursor:pointer;
    float:left;
}

.dropdown a{
    display:block;
    color:black;
   text-decoration:none;
    padding:10px 5px;
}

.dropdown .content{
    display:none;
    position:absolute;
    background-color: rgb(255, 255, 255);
    min-width: 100px;
    box-shadow: 2px 2px 5px black;

}

.dropdown:hover .content{
    display:block;
    background-color: rgb(255, 255, 255);
}
.dropdown:hover button{
    background-color: rgb(189, 189, 189);

}
.dropdown a:hover{
    background-color: rgb(200, 200, 200);
}

